{% extends 'base.html.twig' %}

{% block title %}Cotation index{% endblock %}

{% block body %}
    <h1>Cotation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cotation in cotations %}
            <tr>
                <td>{{ cotation.id }}</td>
                <td>{{ cotation.value }}</td>
                <td>{{ cotation.date ? cotation.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_cotation_show', {'id': cotation.id}) }}">show</a>
                    <a href="{{ path('app_cotation_edit', {'id': cotation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cotation_new') }}">Create new</a>
{% endblock %}
